.heading {
  text-align: center;
  margin-bottom: 0.2rem;
  position: relative;
} 


.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background: var(--text-color);
  z-index: 1;
}

.heading span {
  position: relative;
  font-size: 1.2rem;
  padding: 0.3rem 2rem;
  color: var(--text-color);
  background: var(--light);
  border: 1px solid var(--text-color);
  z-index: 99 !important;
}

.seccionproductos {
  margin-top: 2rem;
  background: transparent;
}

.seccionproductos .featured-slider .box {
  margin: 1.8rem 1.2rem;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  border:  0.4px solid var(--primary-color);
  background-color: var(--light);

}

.seccionproductos .featured-slider .box .image {
  padding: 0.8rem;
  margin: 1.6rem 0;
  background: linear-gradient(15deg, var(--primary-color) 40%, var(--light) 30.1%);
}

.seccionproductos .featured-slider .box:hover .image {
  transform: translateY(2rem);
}

.seccionproductos .featured-slider .box .image img {
  object-fit: cover;
  height: 14rem;
  width: 88%;
  border-radius: 4px;
}

.seccionproductos .featured-slider .box .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: var(--dark-grey);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--light);
  padding: 8px 0;
  z-index: 1;
  transform: translateY(-105%);
}

.seccionproductos .featured-slider .box:hover .icons {
  transform: translateY(0%);
}

.seccionproductos .featured-slider .box .icons a {
  color: var(--text-color);
  font-size: 1.4rem;
}

.seccionproductos .featured-slider .box .icons a:hover {
  color: var(--secondary-color);
  font-weight: bold;
}

.seccionproductos .featured-slider .box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light);
  margin-bottom: 1.5rem;
}

.seccionproductos .featured-slider .box .content .price {
  font-size: 1.2rem;
  color: var(--text-color);
  padding-top: 1.5rem;
}

.swiper-button-next,
.swiper-button-prev {
  border: none;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-weight: bold;
  font-size: 1.2rem;
}

 
.arrivals .arrivals-slider .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background: linear-gradient(15deg, var(--uno) 40%, var(--light) 30.1%);
  gap: 1.2rem;
  padding: 2rem 1rem;
  box-shadow: 0 0.5rem 0.2rem rgba(6, 6, 6, 0.7);
  margin: 1rem 0.6rem;
}

.arrivals .arrivals-slider .box .image img {
  height: 12rem;
  width: 80%;
  object-fit: cover;
  border-radius: 4px;
}

.arrivals .arrivals-slider .box .content h3 {
  color: var(--text-color);
}

.arrivals .arrivals-slider .box .content .stars i {
  color: gold !important;
}
.arrivals .arrivals-slider .box .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccionproductos .btncomprar {
 
  width: 80%;

  background-image: linear-gradient(
    to right,
    #ffb31b 0%,
    #8f5d00 48%,
    #ffd11b 100%
  );
  padding: 15px 1px;
  margin: 14px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: var(--color-shadow) 0px 3px 8px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  border: none;
}

.seccionproductos .btncomprar:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
