* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 4px;
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 2px 6px rgba(187, 140, 1, 0.971);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  background-color: var(--primary-color);
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
/* 
#sidebar::--webkit-scrollbar {
  display: none;
} */

#sidebar.hide {
  width: 65px;
}

#sidebar .brand {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 35px;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  z-index: 500;
  border-bottom: 1px dotted var(--dark);
}
#sidebar .brand i {
  color: var(--primary-color);
  font-size: 2.2rem;
  text-shadow: 0 1px 2px var(--primary-color);
}
#sidebar .brand .marca {
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: overline;
  text-shadow: 0 1px 4px var(--dark);
}
.submenu,
.submenu2 {
  display: none;
}

#sidebar ul .activo {
  display: block;
}

#sidebar ul li ul .activo {
  display: block;
}

#sidebar .side-menu li {
  background: transparent;
  /* padding-left: 10px; */
  padding: 6px 0 6px 6px;
  border-radius: 25px 0 0 25px;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 40px;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 36px;
  font-size: 1rem;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu ul li.active {
  display: block;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  /* box-shadow: 20px 20px 0 rgb(172, 112, 0); */
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  /* box-shadow: 20px -20px 0 rgb(0, 148, 74); */
  z-index: -1;
}

#sidebar .side-menu.top li.active a {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  font-weight: bold;
}

#sidebar .side-menu.top li.active ul {
  color: var(--primary-color);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar.hide .marca {
  display: none;
}

#configuracion {
  margin-top: 0.9rem;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}

#sidebar .side-menu.top li a:hover {
  color: var(--primary-color);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 250px);
  left: 250px;
  transition: 0.3s ease;
}

#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
#content nav {
  height: 50px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -16px 0 var(--light);
}

#content nav a {
  color: var(--dark);
}

#content nav .bx.bx-menu {
  cursor: pointer;
  font-size: 22px;
  color: var(--dark);
}

#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}

#content nav .nav-link:hover {
  color: var(--primary-color);
}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

#content nav form .form-input {
  display: flex;
  align-items: center;

  color: var(--dark);
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

#content nav .switch-mode {
  display: block;
  min-width: 54px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--primary-color);
  border-radius: 50%;
  transition: all 0.3s ease;
}

#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */

/* MAIN */
#content main {
  width: 100%;
  padding: 2rem 2.4rem;
  font-family: Arial, Helvetica, sans-serif;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}

#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

#content main .head-title .left .breadcrumb li a.active {
  color: var(--primary-color);
  pointer-events: unset;
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  box-shadow: 0 1px 2px var(--color-shadow);
}

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.colorGreen {
  color: var(--green) !important;
}
.colorRed {
  color: var(--red);
}
.colorBlue {
  color: var(--blue);
}

#content main .box-info li:nth-child(1) .bx {
  background: var(--light-green);
  color: var(--green) !important;
}

#content main .box-info li:nth-child(2) .bx {
  background: var(--light-red);
  color: var(--red);
}

#content main .box-info li:nth-child(3) .bx {
  background: var(--light-blue);
  color: var(--blue);
}

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
  box-shadow: 0 1px 2px var(--color-shadow);
}

#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

#content main .table-data .head .bx {
  cursor: pointer;
}

#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
  color: var(--dark);
}

#content main .table-data .order table td {
  color: var(--dark);
  padding: 16px 0;
}

#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

#content main .table-data .order table tbody tr:hover {
  background: var(--hover-color) !important;
}

#content main .table-data .order table tr td .status {
  font-size: 0.6rem;
  padding: 6px 16px;
  color: var(--dark);
  border-radius: 20px;
  font-weight: 700;
}

#content main .table-data .order table tr td .status.completed {
  background: var(--primary-color);
}

#content main .table-data .order table tr td .status.process {
  background: var(--red);
}

#content main .table-data .order table tr td .status.pending {
  background: var(--blue);
}

#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

#content main .table-data .todo .todo-list {
  width: 100%;
}

#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--primary-color);
}

#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--blue);
}

#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

#content main .table-data .head .bx {
  color: var(--primary-color);
  font-weight: bold;
}
.top1productos {
  display: flex;
  width: 100%;
  justify-content: center;
}
.top1productos img {
  width: 86%;
  height: 60%;
}
/* areachart */

canvas {
  color: var(--primary-color) !important;
}

/* ESTILO TABLA */
table {
  width: 100% !important;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 8px 10px;
  text-align: left;
}

th {
  background-color: var(--primaryColor);
  color: var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
}

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

.dataTables_wrapper .dataTables_info {
  float: left;
  padding-top: 1.2rem !important;
  color: var(--text-color) !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  padding: 4px;
  margin: 6px;
  border-radius: 4px;
  background-color: var(--grey);
  cursor: pointer;
}

.paging_simple_numbers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}

thead {
  background-color: var(--primaryColor);
}

thead > tr,
thead > tr > th {
  color: var(--text-color);
  font-weight: normal;
  text-align: start;
}

table.dataTable thead th,
table.dataTable thead td {
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 18px;
  /* border-bottom: 1px solid #111; */
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid var(--text-color);
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute;
  top: 12px;
  right: 8px;
  display: block;
  font-family: "Font Awesome\ 5 Free";
  cursor: pointer;
}

table.dataTable thead th.sorting:after {
  content: "\f0dc";
  color: var(--text-color);
  font-size: 0.8em;
  padding-top: 0.2em;
}

table.dataTable thead th.sorting_asc:after {
  content: "\f0de";
  display: none;
}

table.dataTable thead th.sorting_desc:after {
  content: "\f0dd";
  display: none;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  color: var(--text-color);
  background-color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

table.dataTable tbody tr {
  cursor: pointer;
  font-size: 12px;
  border-collapse: collapse !important;
  word-wrap: break-word;
  color: var(--text-color);
}

table.dataTable tr:hover td {
  background-color: var(--hover-color) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  cursor: pointer;
  font-weight: 200;
}
.tablePrincipal label {
  color: var(--text-color) !important;
}
table.dataTable thead th.sorting:after {
  display: none;
}

.dataTables_filter {
  margin-top: 0.6rem !important;
}

.dataTables_wrapper .dataTables_filter input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 4px;
  padding-left: 5px;
  margin: 12px 0;
  color: var(--text-color);

  color: var(--text-color);
}

.dataTables_wrapper .dataTables_filter input:active,
.dataTables_wrapper .dataTables_filter input:focus-within,
.dataTables_wrapper .dataTables_filter input:hover {
  box-shadow: 0 0 6px var(--primaryColor);
  border-color: var(--primaryColor) !important;
  outline: 1px solid var(--primaryColor);
}
#tableProductos_paginate,
#tableClientes_paginate {
  margin-top: 3.3rem;
  padding: 0.4rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  height: 100%;
  width: 100%;
  align-items: center;
  color: var(--text-color) !important;
  cursor: pointer !important;
  padding: 10px !important;
  border-radius: 10px;
  font-weight: bold;
  background-color: var(--primary-color);
}
textarea,
select,
input {
  background-color: var(--light);
  color: var(--text-color);
}

/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }
}

@media screen and (max-width: 576px) {
  #content nav .bx.bx-menu {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }

  #content main .table-data .order table {
    min-width: 420px;
  }

  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}
