.containerProductoform {
  width: 68%;
  margin: auto;
  background: var(--grey);
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--color-shadow) 0px 3px 8px;
}

.formImagen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formImagen img {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  border-radius: 6px;
  width: 30%;
}

.containerProductoform .row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

h2 {
  text-align: center;
  color: var(--dark);
  margin-bottom: 1.2rem;
}
.form-group {
  width: 100%;
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark);
}
.form-group select,
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group textarea {
  resize: vertical;
}
.form-groupbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

select:focus-visible,
textarea:focus-visible,
input:focus-visible {
  outline: none;
}

.btn {
  width: 100%;
  background-image: linear-gradient(
    to right,
    #ffaf1b 0%,
    #8f5100 48%,
    #ffab1b 100%
  );
  margin: 10px 0;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: var(--color-shadow) 0px 3px 8px;
  border-radius: 10px;
  display: block;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn_cancelar {
  position: relative;
  width: 14px;
  height: 14px;
  padding: 14px;
  line-height: 12px;
  border-radius: 10px;
  margin-top: -28px;
  border: none;
  font-weight: 600;
  left: calc(100% - 24px);
  cursor: pointer;
  box-sizing: border-box;
  color: var(--dark);
}
.btn_cancelar i {
  padding: 4px;
  background-color: red;
  border-radius: 4px;
}

input[type="file"] {
  border: none !important;
  width: 100%;
  font-size: 11px !important;
}

input[type="file"]::file-selector-button {
  width: 40%;

  background-image: linear-gradient(
    to right,
    #ffa81b 0%,
    #5c3f00 48%,
    #ff9c1b 100%
  );
  padding: 10px 10px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#modalVerGestionUser,
#modalCliente,
#modalAgregarProducto,
#modalCarrito,
#modalcliente,
#modalProductos {
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  width: 80%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.tablePrincipal {
  background-color: var(--light);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--color-shadow) 0px 3px 8px;
}

.tablePrincipal .header {
  margin: 1rem;
  color: var(--dark);
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--grey);
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 16px;
  text-align: left;
  /* border-bottom: 1px solid var(--grey); */
}

th {
  background-color: var(--primary-color);
  color: var(--dark);
  font-weight: 700;
  text-transform: uppercase;
}

td {
  background-color: var(--grey);
  color: var(--dark);
}

tbody tr:hover {
  background-color: var(--dark-grey);
}

.boton-td button {
  margin-right: 5px;
  color: #4caf50;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
}

.boton-td button:hover {
  color: #347a38;
}

.accion-icons {
  display: flex;
  align-items: center;
}

.image-cell {
  width: 100px;
}

.thumbnail {
  width: 100%;
  height: auto;
  display: block;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  background-color: transparent !important;
}

@media (max-width: 600px) {
  .containerProductoform {
    width: 100%;

    margin: 0;
  }
  #modalCarrito,
  #modalcliente,
  #modalProductos {
    width: 100%;
    margin: 0;
  }
}
