<!DOCTYPE html>
<html lang="en">
  <head>
    {%include '/components/header.html'%}
    <title>Inicio</title>
  </head>
  <body>
    <!-- CONTENT -->
    {% include '/components/menu.html' %}

    <section id="content">
      <!-- NAVBAR -->
      {% include '/components/perfil.html' %}

      <main>
        <div class="head-title">
          <div class="left">
            <h1>Productos</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Productos</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Listar Productos</a>
              </li>
            </ul>
          </div>
        </div>

        <section class="seccionproductos" id="featured">
          <h1 class="heading"><span>Calzado</span></h1>

          <div class="swiper featured-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/calzado1.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Zapato Depotivo colores</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/calzado2.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Tacones dama</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/calzado3.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Tacones gruesos dama</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/zapatos1.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">zapatos cross</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/zapatos2.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Casual</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/zapatos3.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Tacones x4</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>
              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/zapatos2.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Casual</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </section>

        <section class="seccionproductos" id="featured">
          <h1 class="heading"><span>Cosmeticos</span></h1>

          <div class="swiper featured-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/cos1.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Cosmetico1</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/cos2.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Cosmetico2</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/cos3.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Cosmetico3</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/cos4.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Cosmetico4</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/cos5.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Cosmetico5</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>

              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/cos6.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Cosmetico6</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>
              <div class="swiper-slide box">
                <div class="icons">
                  <a href="#"><i class="bx bxs-share-alt"></i></a>
                  <a href="#"><i class="bx bxs-happy-heart-eyes"></i></a>
                  <a href="#"><i class="bx bxs-cloud-download"></i></a>
                </div>
                <div class="image">
                  <img src="/static/img/cos7.jpg" alt="" />
                </div>
                <div class="content">
                  <div class="price">Cosmetico7</div>
                  <a href="#" class="btncomprar">Agregar</a>
                </div>
              </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </section>
      </main>
    </section>
    {%include '/components/footer.html' %}
  </body>
</html>
