<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de Clientes</title>
    <link rel="stylesheet" href="../../static/css/registroClientes.css" />
  </head>

    <body>
        <section class="ingresoClientes">
            <div> 
                <h3>Registro de Clientes</h3>
            </div>

      <div>
        <input
          type="text"
          name="nombreCliente"
          id="nombreCliente"
          placeholder="Nombre Completo"
        />
      </div>

      <div>
        <input
          type="text"
          name="apellidoCliente"
          id="apellidoCliente"
          placeholder="Apellidos"
        />
      </div>

      <div>
        <input
          type="text"
          name="telefonoCliente"
          id="telefonoCliente"
          placeholder="Telefono"
        />
      </div>

      <div>
        <input
          type="email"
          name="emailCliente"
          id="emailCliente"
          placeholder="Correo electronico"
        />
      </div>

      <div>
        <input
          type="text"
          name="direccionCliente"
          id="direccionCliente"
          placeholder="Direccion"
        />
      </div>

      <div>
        <a href="#">
          <button type="button" id="agregarCliente">Registrar</button>
        </a>
      </div>
    </section>
  </body>
</html>
