<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <section>
            <div class="contenido">
                <p>Se a enviado a tu correo electronico un codigo de verificacion,porfavor ingresa el codigo en siguiente espacio correspondiente</p>
            </div>

            <div class="contenido">
                <input type="text" name="cd" id="cd" placeholder="-">
            </div>

            <div class="contenido">
                <input type="text" name="cd" id="cd" placeholder="-">
            </div>


            <div class="contenido">
                <input type="text" name="cd" id="cd"  placeholder="-">
            </div>

            <div class="contenido">
                <input type="text" name="cd" id="cd"  placeholder="-">
            </div>

            <div class="contenido">
                <input type="text" name="cd" id="cd"  placeholder="-">
            </div>

            <div class="contenido">
                <input type="text" name="6" id="6"  placeholder="-">
            </div>

            <div class="contenido">
                <a href="../index.html">
                    <button type="button">Verificar codigo</button>
                </a>
            </div>
        </section>
    </body>
</html>