<dialog id="modalProductos">
  <div class="container">
    <div class="info-container" id="InfoCont">
      <!-- <div class="container-form"> -->

      <br />

      <div class="containerProductoform">
        <div id="btn_cancelarProducto" class="btn_cancelar">
          <i class="bx bx-x"></i>
        </div>
        <h2>Formulario Productos</h2>
        <form
          method="POST"
          action="/productosOperaciones"
          id="formProducto"
          enctype="multipart/form-data"
        >
          <input type="hidden" name="txtid" id="txtid" />
          <input type="hidden" name="txtnameAnterior" id="txtnameAnterior" />
          <div class="formImagen">
            <img
              src="/static/img/ventasimagen.jpg"
              alt="ProductosImagen"
              id="verImagen"
            />
          </div>

          <div class="form-group">
            <label for="email">Imagen</label>
            <input type="file" id="imagenProducto" name="imagenProducto" />
          </div>
          <div class="row2">
            <div class="form-group">
              <label for="nombre">Nombre Producto:</label>
              <input
                type="text"
                id="nombreproducto"
                name="nombreproducto"
                required
              />
            </div>

            <div class="form-group">
              <label for="telefono">Precio</label>
              <input type="number" min="1" step="0.01"" id="txtprecio"
              name="txtprecio" required />
            </div>
          </div>

          <div class="row2">
            <div class="form-group">
              <label for="direccion">Proveedor</label>
              <select name="txtProveedor" id="txtProveedor" required></select>
            </div>
            <div class="form-group">
              <label for="direccion">Categoria</label>
              <select name="txtcategoria" id="txtcategoria" required></select>
            </div>
          </div>

          <div class="form-group">
            <label for="mensaje">Descripcion:</label>
            <textarea
              id="txtdescripcion"
              name="txtdescripcion"
              rows="4"
              required
            ></textarea>
          </div>
          <div class="row2">
            <div class="form-group hidefecha" style="display: none">
              <label for="direccion">FechaCreacion</label>
              <input name="txtfecha" id="txtfecha" required disabled />
            </div>

            <div class="form-group">
              <label for="direccion">Existencia</label>
              <input
                name="txtexistencia"
                id="txtexistencia"
                required
                disabled
              />
            </div>
          </div>

          <div class="form-groupbtn">
            <button
              type="button"
              class="btn"
              name="accion"
              value="eliminar"
              id="btnEliminarProducto"
            >
              Eliminar
            </button>

            <button
              type="button"
              class="btn"
              name="accion"
              value="agregar"
              id="btnenviardProducto"
            >
              Agregar
            </button>
            <button
              type="button"
              class="btn"
              name="accion"
              value="actualizar"
              id="btnActualizarProducto"
            >
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</dialog>
